.principale {
    text-decoration: none;
    padding: 20px 30px;
    background-color: black;
    color:#f7f705;
    display: inline-flex;
    height: 15px;
    margin-left: -5px;
    font-size: 200%;
    align-items: center;
}
.principale:hover{
    color: #e68a8a;
    background-color: darkgrey;
}
.couleur{
    color: #ffc400;
    font-size: 170%;
}
.couleur:hover{
    color: #fff700;
}
.decoration{
    color: #ffb300;
    text-decoration: none;
}
.bouton_plth{
    display: inline-block;
    text-align: center;
    border: 2px solid white;
    text-decoration: none;
    color: transparent;
    background-color: #0000FF;
    border-radius: 30px;
    height: 60px ;
    width: 10px;
    font-size: 40px;
    transition: background-color 2s, color 2s, width 2s;
    cursor: pointer;
    white-space: nowrap;
}
.bouton_plth:hover{
    color: #f7f705;
    background-color: black;
    width: 580px;
}
.bouton_num{
    display: inline-block;
    border: 2px solid white;
    text-decoration: none;
    text-align: center;
    color: transparent;
    background-color: #77ff0f;
    border-radius: 30px;
    white-space: nowrap;
    width: 10px;
    height: 60px;
    font-size: 40px;
    cursor: pointer;  
    transition: background-color 2s, color 2s, width 2s; 
}
.bouton_num:hover{
    color: #f7f705;
    background-color: black;
    width: 350px; 
     
}
.titre_pgph{
    text-decoration: underline;
    font-size: 50px;
    color: #ffc400;
}
.titre_pgph:hover{
    color: #fff700;
}
 
.acouleur{
    color: #ffc400;
    font-size: 110%;
    text-decoration: none;
}
.acouleur:hover{
    color: #fff700;
}
#titre_ombre{
    text-shadow: -50px 50px 3px #b8b4ab;
    transition: text-shadow 2s;
}
#titre_ombre:hover{
    text-shadow: none;
}